.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}

#good{
    background-color: #91bfdb;
    font-weight: bold;
}

#bad{
    background-color: #d7191c;
    font-weight: bold;

}

#average{
    background-color: #fdae61;
    font-weight: bold;
}

@media print {
    button, iframe {
        display:none !important;
   } 
}