.legend-field{

    background: white;
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 400;
    width: 410px;
    height: 50px;
    text-align: left;
}

.legend-field .legend-label{
    margin: 5px;
    font-weight: bold;
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #363636;
}

#color-and-text{
    float: left;
    margin-right: 20px;
}

.small-box {
    float: left;
    width: 15px;
    height: 15px;
    margin: 5px;
  }
  
#onstreetIcon{
    float: left;
    margin: 5px;
}
  
  .blue {
    background: #91bfdb;
  }
  
  .orange {
    background: #fdae61;
  }
  
  .red {
    background: #d7191c;
  }

