.heatCell{
    white-space: nowrap; text-overflow:ellipsis; overflow: hidden; 
    /*max-width:1px;*/
    height: 26px;
}

.table th{
    padding: 3px !important;
    width: 100px;
}

.nameCell th {
    width: 120px; 
    
}

.heatMap .table {
   width: 0;
   max-width: 100%;
}

.table{
    width: 0 !important; 
}

.table td {
    border: 1px solid #eceeef;
    font-size: 12px;
}

.table th {
    font-size: 12px;
}
.table .invalidCell {
    background-color: red;
    padding: 3px !important;
    width: 100px;
}

.table .validCell{
    background-color: #65e05f;
    padding: 3px !important;
    width: 100px;
}

.table .heatCellName {
    padding: 3px !important;
    width: 100px;
    white-space: nowrap; text-overflow:ellipsis; overflow: hidden;

}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
  
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
 
    float: left;
}