.heatCell{
    white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;
}

.table th{
    padding: 3px !important;
    width: 100px; 
}

.nameCell th {
    width: 120px; 
}

.heatMap .table {
   width: 0;
   max-width: 100%;
}

.table{
    width: 0 !important; 
}

.table td {
    border: 1px solid #eceeef;
}
<<<<<<< HEAD

=======
 
.table th {
    font-size: 12px;
}
>>>>>>> staticvisuals
.table .invalidCell {
    background-color: red;
    padding: 3px !important;
}

.table .validCell{
    background-color: #65e05f;
    padding: 3px !important;
}

.table .heatCellName {
    padding: 3px !important;
}