.MainContent {
    float: left;
    height: 100%;
    
    /*padding: 20px;
    */position: absolute;
    left: 250px;

    position: fixed;
    left: 250px;
    max-width: 100%;
   

}

.mainChild {
    position: relative;
    overflow:auto;
    max-height: 700px;
    overflow-y:auto;
}


