.MainContent {
    float: left;
    height: 100%;

    /*padding: 20px;
    */position: absolute;
    left: 250px;

    position: fixed;
    left: 250px;
    max-width: 100%;
    min-width: 1111px;


}

.mainChild {
    position: relative;
    max-height: 600px;
}

.active {
    background-color: #fff;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.nav-link, .nav-link:hover, .nav-link:focus {
    color: #000;
}
