#mapParent{
    height: 100%;
    width: 100%;
}

#mapid{
    height: 95vh;
    width: 84vw;
}

/*fix pls*/
#layers{
    background: white;

    position: fixed;

    top: 50px;

    right: 20px;

    z-index: 400;

    width: 125px;

    height: 60px;
}