#mapParent{
    height: 100%;
    width: 100%;
}

#mapid{
    height: 95vh;
    width: 84vw;
}

/*fix pls*/
#layers{
    background: white;
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 400;
    width: 300px;
    height: 160px;
}

/* Cluster stuff */
.marker-cluster-small {
    background-color: rgba(204,121,167,0.8);

}
.marker-cluster-small div {
    background-color: rgba(204,121,167,0.8);
}

.marker-cluster-medium {
    background-color: rgba(204,121,167,0.8);
}
.marker-cluster-medium div {
    background-color: rgba(204,121,167,0.8);
}

.marker-cluster-large {
    background-color: rgba(204,121,167,0.8);
}
.marker-cluster-large div {
    background-color: rgba(204,121,167,0.8);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(204,121,167);
}
.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(204,121,167);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(204,121,167);
}
.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(204,121,167);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(204,121,167);
}
.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(200,100,100);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
}
.marker-cluster span {
    line-height: 30px;
}